/* Reference: https://developer.apple.com/design/human-interface-guidelines/live-activities#iOS-Live-Activity-dimensions */
#dynamic-island {
  --dynamic-island-transition-property: width, height, border-radius;
  --dynamic-island-transition-timing-function: ease-in-out;
  --dynamic-island-transition-duration: 0.2s;

  /* default */
  --dynamic-island-default-width: 44px;
  --dynamic-island-default-height: 120px;
  --dynamic-island-default-rounded: 22px;
  /* minimal */
  --dynamic-island-minimal-width: 52.33px;
  --dynamic-island-minimal-height: 140px;
  --dynamic-island-minimal-rounded: 22px;
  /* compact */
  --dynamic-island-compact-width: 52.33px;
  --dynamic-island-compact-height: 18rem;
  --dynamic-island-compact-rounded: 22px;
  /* expanded */
  --dynamic-island-expanded-width: 210px;
  --dynamic-island-expanded-aspect: 4 / 3;
  --dynamic-island-expanded-rounded: 42px;
}

.dynamic-island {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--dynamic-island-default-width);
  height: var(--dynamic-island-default-height);
  border-radius: var(--dynamic-island-default-rounded);
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  transition: none;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: var(--dynamic-island-transition-property);
    transition-timing-function: var(--dynamic-island-transition-timing-function);
    transition-duration: var(--dynamic-island-transition-duration);
  }
}

.dynamic-island--minimal {
  width: var(--dynamic-island-minimal-width);
  height: var(--dynamic-island-minimal-height);
  border-radius: var(--dynamic-island-minimal-rounded);
}

.dynamic-island--compact {
  width: var(--dynamic-island-compact-width);
  height: var(--dynamic-island-compact-height);
  border-radius: var(--dynamic-island-compact-rounded);
}

.dynamic-island--expanded {
  width: var(--dynamic-island-expanded-width);
  height: calc(var(--dynamic-island-expanded-width) / var(--dynamic-island-expanded-aspect));
  border-radius: var(--dynamic-island-expanded-rounded);
}

@media (min-width: 1024px) {
  .dynamic-island__title {
    font-size: var(--font-size-800);
    margin-bottom: var(--space-md);
  }
}
